* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  font-size: 1rem;
}

header {
  background-color: oklch(25.20% 0.000 0);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

#profile-pic {
  display: block;
  margin: 0 auto 0.5rem auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover; 
  border: 4px solid #fff; 
}

main {
  padding: 1rem;
}

main ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 1rem 0;
  font-size: 0.8rem;
}

main ul li {
  background: #fff;
  border-radius: 10px;
  padding:0;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
}

main ul button {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  color: #fff;
}

main ul button:hover {
  transform: scale(1.05);
}

#happy{ background-color: oklch(0.75 0.13 83); }
#sad{ background-color: oklch(0.6 0.1 240); }
#neutral{ background-color: oklch(25.20% 0.000 0); }
#angry{ background-color: oklch(0.6 0.15 20); }
#anxius{ background-color: oklch(0.6 0.1 280); }
#relax { background-color: oklch(0.8 0.05 120); }

#favoritos-lista {
  list-style: none;
  padding: 0;
}

#favoritos-lista li {
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  main ul {
    grid-template-columns: repeat(6, 1fr);
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }
}